.seller_code_popup {
    height: 350px;
}

/* Pantalla de la Lista de Tickets de Venta */

.ticket_list-screen .sale-ticket-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

.ticket_list-screen .sale-ticket-list th, .ticket_list-screen .sale-ticket-list td {
    padding: 0px 8px;
}

.ticket_list-screen .sale-ticket-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.ticket_list-screen .sale-ticket-list thead>tr, .ticket_list-screen .sale-ticket-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}

.ticket_list-screen .sale-ticket-list tr.highlight {
    transition: all 150ms linear;
    background: rgb(110, 200, 155) !important;
    color: white;
}

.ticket_list-screen .sale-ticket-list td tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}

.ticket_list-screen .sale-ticket-list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.ticket_list-screen .searchbox {
    right: auto;
    margin-left: -90px;
    margin-top: 8px;
    left: 50%;
}

.ticket_list-screen .searchbox input {
    width: 120px;
}

.confirm_ticket {
    background-color: #6ec89b !important;
    color: white;
    height: 32px;
    vertical-align: middle;
}

.pos-disabled-mode {
    color: #bbb !important;
    background-color: #d3d3d3 !important;
}

.pos-disabled-mode:hover {
    background: #e2e2e2 !important;
}